
 .nav-card-item-header {
    background: #75c5ca;
  }
  
  .nav-card-item-content h5 {
    color: #75c5ca;
  }
  
   .nav-card-item-content a {
    color: #75c5ca;
  }
  .red-more-buttons{    
      min-height: 30px;  
      color: #0b4061;
      border-style: none;
      border-radius: 30px; 
      background: #75c5ca;
     
    }
  
  
   .nav-card-item-content hr {
    border-color: #75c5ca; 
  }
  