<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="nav-cards main-container">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">GLOBAL DAY OF PARENTS</h5>
            <br>
            <div class="nav-card-item-content">
                <p>
                    The Global Day of Parents was proclaimed by the UN General Assembly in 2012 and honors parents
                    throughout the world. This Day provides an opportunity to appreciate all parents in all parts of the
                    world for their selfless commitment to children and their lifelong sacrifice towards nurturing this
                    relationship.
                </p><br>
                <P>
                    Download your favorite parenting tip below.
                </P>
<br>

                <div class="row">
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES1.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES1.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES1.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES2.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES2.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES2.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES3.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES3.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES3.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES4.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES4.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES4.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES5.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES5.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES5.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES6.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES6.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES6.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES7.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES7.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES7.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES8.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES8.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES8.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES9.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES9.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES9.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES10.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES10.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES10.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES11.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES11.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES11.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES12.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES12.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES12.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>
                    <div class="column">
                        <img src="assets/images/GDP/GDP-SLIDES13.jpg" style="width:100%">
                        <a href="assets/images/GDP/GDP-SLIDES13.jpg" download="Parenting tips"><button class="buttons">
                                <a href="assets/images/GDP/GDP-SLIDES13.jpg" download="Parenting tips"
                                    class="button-text">Download</a></button></a>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>