<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">PRESS</h5>
            <div class="nav-card-item-content">
                <p>
                    <!-- Intro paragraph goes here-->
                </p>
            </div>
            <br>
            <!--  The card thing startd here -->
            <div class="nav-card-item-content">
                <h4>
                    <a style="font-size: 20px;"
                        href="https://bold.expert/lockdowns-threaten-child-development-can-parenting-programmes-help">Lockdowns
                        threaten child development – can parenting programmes help? </a>
                </h4>
                <br>
                <h5>
                    <a href="https://bold.expert/"> Blog on Learning and Development</a>
                </h5> <br>
            </div>

            <div class="nav-card-item-content">
                <img width="100%" src="assets/press/alexanderthumbnail.jpg" />
            </div>

            <div class="news-container">
                <div class="news-text">

                    <p style="text-align:justify">Lockdowns threaten child development – can parenting programmes help? The COVID-19
                        pandemic has been making life difficult for parents around the world. In these
                        exceptional circumstances, many have struggled to give children the care and education
                        they need. Stuck at home, families from lower-socioeconomic backgrounds have been
                        particularly affected, says Jamie Lachman, an Oxford University researcher who
                        co-founded the Parenting for Lifelong Health (PLH) initiative, a collaboration between
                        WHO, Stellenbosch University and the University of Cape Town in South Africa, the
                        universities of Oxford, Bangor, and Reading in the United Kingdom, and UNICEF. </p>
                    <br>
                    <p style="text-align:justify">Factors such as increased financial stress and cramped living conditions have made it
                        even harder to create a positive home learning environment, he says. “[Parents] are
                        spending more time with their children, and the question is: what’s the quality of that
                        time?”</p>
                    <br>

                    <span class="more-link"><a
                            href="https://bold.expert/lockdowns-threaten-child-development-can-parenting-programmes-help/">Read
                            the article here. </a> </span>
                </div>
            </div>


        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>