<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="nav-cards main-container">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">WEBINARS</h5>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <p>
          Check out our selection of video workshops and presentations hosted online regarding Parenting and Child
          Protection resources. These sessions are used to share knowledge, ideas, and updates with people around the
          world working on Parenting and Child Protection projects during COVID-19.
        </p>
      </div>
      <hr />

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>
          WEBINAR:Nurturing care for young children during and beyond COVID 19: focus on responsive caregiving
        </h5>
        <div class="webinar-container">
          <div class="webinar-video">

            <iframe width="100%" height="210px"
              src="https://www.youtube.com/embed/vRxisM6cxzU?list=PLURnZih-6HI6uvf37gI3ZqBhm-6ZSdM0H" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <div class="webinar-text">
            <div>
              <p style="text-align:justify">
                The Asian-Pacific Regional Network for Early Childhood (ARNEC) hosted the webinar series entitled,
                'Nurturing care for young children: seeking solutions for addressing disparities heightened by the
                impact of COVID-19'. </p>
              <p style="text-align:justify">
                The thematic focus was on health and nutrition, early learning, responsive caregiving, and child safety
                and security, all of which are dimensions of nurturing care. The series explored the long-term impact of
                COVID-19 on these nurturing care components, especially on the most vulnerable groups, and draw out
                innovations and solutions from the countries as they design and implement their recovery and resiliency
                plans.
              </p>
            </div>
          </div>
        </div>

        <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
          <h6>The following questions have been explored:</h6>
          <ol type="1">
            <li>What are the long-term effects of COVID-19 on responsive caregiving and parenting? </li>
            <li>How do countries and governments strengthen their parenting programs and interventions to respond to
              the challenges of COVID-19, both short- and long-term?</li>
            <li>What evidence have we generated to elevate the role of play to support home-based ECD interventions
              as part of pandemic recovery and to support policy change?</li>
            <li>What have we learned about parenting education interventions during the pandemic and how do we use
              these experiences to inform recovery strategies and ECD investments?</li>
            <li>What evidence-based resources and tools are available to support parents and caregivers as they
              engage their young children in home-based developmental practices? </li>
          </ol>
          <br>
          <h6>Panellists:</h6>
          <ol type="1">
            <li>Dr Jamie M. Lachman, Senior Research Officer at the University of Oxford Department of Social Policy and
              Intervention and a research fellow at the University of Glasgow MRC/CSO Social and Public Health Sciences
              Unit </li>
            <li>Dr. Dipu Shakya Education Specialist, UNICEF Nepal</li>
            <li> Sandipan Paul, Education Specialist, UNICEF Pacific</li>
          </ol>
          <p>Moderator: Shikha Jain, Technical Advisor in Plan India and ARNEC Steering Committee member (Core Team
            Representative)</p>
            <br> 
            <h6>For more information:</h6>
            <a href="https://drive.google.com/file/d/13fO0_gvjOfnusrZ_ltUnY_vk4lev7Dqk/view">Click here</a> to read the summary and evaluation report of the webinar. <a href="https://arnec.net/static/uploads/Webinar%20No.3.%20focus%20on%20responsive%20caregiving_10March_RFS.pdf">Click here</a> to download the presentation slides deck. 
            <p>
              <br> 
            </p>          
           <span class="more-link"><a href="https://www.youtube.com/watch?v=vRxisM6cxzU&list=PLURnZih-6HI6uvf37gI3ZqBhm-6ZSdM0H&index=2"><img
                style="height: 30px; width: 30px;" src="assets/images/youtubeplaylist1.png"> Watch on our YouTube
              Channel</a></span>
        </div>
      </div>
      <hr />

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>
          WEBINAR: Community Building | Dr Jamie Lachman at Stronger Together Summit
        </h5>
        <div class="webinar-container">
          <div class="webinar-video">
            <iframe width="100%" height="210px"
              src="https://www.youtube.com/embed/kp8KRVyilUU?list=PLURnZih-6HI6uvf37gI3ZqBhm-6ZSdM0H" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
          </div>
          <div class="webinar-text">
            <div>
              <p>
                In this session, Dr Jamie Lachman, co-Principal Investigator, COVID-19 Playful Parenting Emergency
                Response, explains that COVID-19 has affected communities on multiple major fronts: emotional, physical,
                financial, and social. Groups around the world have stepped in to create a space that supports their
                communities and help ensure their sense of security and safety. There have been some silver linings that
                COVID-19 brought into focus. </p>
            </div>
            <br>
            <span class="more-link"><a href="https://youtu.be/kp8KRVyilUU?list=PLURnZih-6HI6uvf37gI3ZqBhm-6ZSdM0H"><img
                  style="height: 30px; width: 30px;" src="assets/images/youtubeplaylist1.png"> Watch on our YouTube
                Channel</a></span>
          </div>
        </div>
      </div>
      <hr />

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>
          WEBINAR: Beyond Masks: Societal impacts of COVID -19 and accelerated
          solutions for children and adolescents
        </h5>
        <div class="webinar-container">
          <div class="webinar-video">
            <iframe width="100%" height="210px" src="https://www.youtube.com/embed/R3FMBPbutz4" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
          </div>
          <div class="webinar-text">
            <div>
              <p>
                UNICEF Innocenti’s new report – Beyond Masks: Societal impacts of COVID-19 and accelerated solutions for
                children and adolescents – offers a comprehensive picture of the health, economic, and social impacts of
                the pandemic, and its implications for children and adolescents. The report examines evidence from the
                current crisis, examines past health crises such as HIV/AIDS, SARS and Ebola to provide insights into
                the current one, and proposes proven and promising solutions.
              </p>
            </div>
            <br>
            <span class="more-link"><a href="https://youtu.be/R3FMBPbutz4"><img style="height: 30px; width: 30px;"
                  src="assets/images/youtubeplaylist1.png"> Watch on our YouTube Channel</a></span>
          </div>
        </div>
      </div>
      <hr />

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>
          WEBINAR: WCARO x PLH webinar
        </h5>
        <div class="webinar-container">
          <div class="webinar-video">
            <iframe width="100%" height="210px" src="https://www.youtube.com/embed/dvFPzjTl8Ck" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
          </div>
          <div class="webinar-text">
            <div>
              <p>
                On 15 September 2020, we presented a webinar on COVID-19 Parenting to the West and Central Africa
                Regional Office (WCARO) and approximately 25 Country Offices in the region. The webinar addresses key
                questions about COVID-19 Parenting and shared information about the emergency response we have been
                providing since March 2020, highlighting the wide range of parenting resources being developed and
                adapted for varying levels of internet access, to reach all population groups, in low as well as high
                income countries.
              </p>
            </div>
            <br>
            <span class="more-link"><a href="https://youtu.be/dvFPzjTl8Ck"><img style="height: 30px; width: 30px;"
                  src="assets/images/youtubeplaylist1.png"> Watch on our YouTube Channel</a></span>

          </div>
        </div>
      </div>
      <hr />


      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>
          WEBINAR: SEMINARIO IBEROAMERICANO FAN FUNDACION Y EARLY INSTITUTE DIA 4
        </h5>
        <div class="webinar-container">
          <div class="webinar-video">
            <iframe width="100%" height="210px" src="https://www.youtube.com/embed/MYOPHoGGFgQ" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
          </div>
          <div class="webinar-text">
            <div>
              <p>
                Presentation of our free parenting resources delivered by Brigitte De Hulsters at the Seminario
                Iberamericano last week (beginning at 59:34).
              </p>
              <p>
                The Iberoamerican Seminar for Prevention, detection and intervention in cases of sexual violence in
                children and adolescents in Latin America and the Caribean (LAC) was organized by FAN (Fundacion de
                Atencion a la Ninez, Colombia) and Early Institute (Mexico) from 25 till 28 august 2020.
              </p>
            </div>
            <br>
            <span class="more-link"><a href="https://youtu.be/MYOPHoGGFgQ"><img style="height: 30px; width: 30px;"
                  src="assets/images/youtubeplaylist1.png"> Watch on our YouTube Channel</a></span>
          </div>
        </div>
      </div>
      <hr />
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>
          WEBINAR: COVID-19 & Child Protection
        </h5>
        <div class="webinar-container">
          <div class="webinar-video">
            <iframe width="100%" height="210px" src="https://www.youtube.com/embed/RAZiy-NIHQA" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
          </div>
          <div class="webinar-text">
            <div>
              <p>
                The Global Partnership to End Violence Against Children (EVAC) and the Early Childhood Development
                Action Network (ECDAN) partnered to present a webinar focused on key issues on Child Protection in the
                context of the COVID-19 pandemic.
              </p>
            </div>
            <br>
            <span class="more-link"><a href="https://youtu.be/RAZiy-NIHQA"><img style="height: 30px; width: 30px;"
                  src="assets/images/youtubeplaylist1.png"> Watch on our YouTube Channel</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>
</div>