<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="nav-cards main-container">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">SOCIAL MEDIA KIT #2</h5>
      <br>
      <div class="nav-card-item-content">
        <p>
          In collaboration with our partners, Parenting for Lifelong Health (PLH) has developed another series of Social Media slides, available in several languages and based on its set of evidence-based parenting tips. 
        </p><br>
        <p>
          You can share these on your Social Media channels to raise awareness on positive tips and activities that parents and caregivers can do to help reduce violence against children and promote child wellbeing during COVID-19 and beyond.
        </p><br>
        <p>
          You can also adapt the social media tags/mentions to fit your target audience as long as the images remain constant and refer to further information available on the WHO, UNICEF, and/or the COVID-19 Parenting websites
        </p><br>
                <p>
          <span style="color: lightblue; font-weight: 500; font-size: 16px;"> Tag us:</span>Facebook @COVID19Parenting -
          Instagram @COVID19Parenting - Twitter @ParentingC19
        </p> <br>
        <p>
          <span style="color: lightblue; font-weight: 500; font-size: 16px;"> Tag partners:</span> @WHO @UNICEF @USAID
          @CDCgov @ParentingLH @GPtoEndViolence @accelerate_hub @Oxford_Uni @oak_foundation
        </p> <br>
        <p>
          <span style="color: lightblue; font-weight: 500; font-size: 16px;"> Hashtags:</span> #COVID19Parenting
          #COVID19
        </p>
        <p>
          <span style="color: lightblue; font-weight: 500; font-size: 16px;"> Websites:</span>

        </p>
        <ul>
          <li>
            Resources in over 100 languages <span style="color: lightblue; font-weight: 500; font-size: 16px;"> <a
                href="www.covid19parenting.com">www.covid19parenting.com</a> </span>
          </li>
          <li>
            UNICEF link <span style="color: lightblue; font-weight: 500; font-size: 16px;"> <a
                href="https://www.unicef.org/coronavirus/covid-19-parenting-tips">here</a> </span>
          </li>
          <li>
            WHO link <span style="color: lightblue; font-weight: 500; font-size: 16px;"> <a
                href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/healthy-parenting">here</a>
            </span>
          </li>
        </ul>

      </div>    
    </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>
</div>