<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="nav-cards main-container">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">SOCIAL MEDIA KIT #2</h5>
            <br>
            <div class="nav-card-item-content">
                <p>
                    In collaboration with our partners, Parenting for Lifelong Health (PLH) has developed another series of Social Media slides, available in several languages and based on its set of evidence-based parenting tips.
                </p><br>
                <p>
                    You can share these on your Social Media channels to raise awareness on positive tips and activities that parents and caregivers can do to help reduce violence against children and promote child wellbeing during COVID-19 and beyond.
                </p><br>
                <p>
                    You can also adapt the social media tags/mentions to fit your target audience as long as the images remain constant and refer to further information available on the WHO, UNICEF, and/or the COVID-19 Parenting websites
                </p><br>
                <p>
                    <span style="color: lightblue; font-weight: 500; font-size: 16px;"> Tag us:</span>Facebook @COVID19Parenting - Instagram @COVID19Parenting - Twitter @ParentingC19
                </p> <br>
                <p>
                    <span style="color: lightblue; font-weight: 500; font-size: 16px;"> Tag partners:</span> @WHO @UNICEF @USAID @CDCgov @ParentingLH @GPtoEndViolence @accelerate_hub @Oxford_Uni @oak_foundation
                </p> <br>
                <p>
                    <span style="color: lightblue; font-weight: 500; font-size: 16px;"> Hashtags:</span> #COVID19Parenting #COVID19
                </p>
                <p>
                    <span style="color: lightblue; font-weight: 500; font-size: 16px;"> Websites:</span>

                </p>
                <ul>
                    <li>
                        Resources in over 100 languages <span style="color: lightblue; font-weight: 500; font-size: 16px;"> <a
                href="www.covid19parenting.com">www.covid19parenting.com</a> </span>
                    </li>
                    <li>
                        UNICEF link <span style="color: lightblue; font-weight: 500; font-size: 16px;"> <a
                href="https://www.unicef.org/coronavirus/covid-19-parenting-tips">here</a> </span>
                    </li>
                    <li>
                        WHO link <span style="color: lightblue; font-weight: 500; font-size: 16px;"> <a
                href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/healthy-parenting">here</a>
            </span>
                    </li>
                </ul>
                <br>

                <h4 style="text-align: center;">English</h4>
                <br>

                <div class="row">
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/2020-04-1/1_Parenting tips_one_on_ one time.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/2020-04-1/1_Parenting tips_one_on_ one time.png" download="1_Parenting tips_one_on_ one time"><button
              class="buttons"> <a href="assets/resources/socialmedia/2020-04-1/1_Parenting tips_one_on_ one time.png" download="1_Parenting tips_one_on_ one time"
                class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/2020-04-1/2_Parenting tips_keeping it positive.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/2020-04-1/2_Parenting tips_keeping it positive.png" download="2_Parenting tips_keeping it positive"><button
              class="buttons"> <a href="assets/resources/socialmedia/2020-04-1/2_Parenting tips_keeping it positive.png" download="2_Parenting tips_keeping it positive"
                class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/2020-04-1/3_Parenting tips_structure up.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/2020-04-1/3_Parenting tips_structure up.png" download="3_Parenting tips_structure up"><button
              class="buttons"> <a href="assets/resources/socialmedia/2020-04-1/3_Parenting tips_structure up.png" download="3_Parenting tips_structure up"
                class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/2020-04-1/4_Parenting tips_avoid bad behaviour.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/2020-04-1/4_Parenting tips_avoid bad behaviour.png" download="4_Parenting tips_avoid bad behaviour"><button
              class="buttons"> <a href="assets/resources/socialmedia/2020-04-1/4_Parenting tips_avoid bad behaviour.png" download="4_Parenting tips_avoid bad behaviour"
                class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/2020-04-1/5_Parenting tips_manage stress.jpg" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/2020-04-1/5_Parenting tips_manage stress.jpg" download="5_Parenting tips_manage stress"><button
              class="buttons"> <a href="assets/resources/socialmedia/2020-04-1/5_Parenting tips_manage stress.jpg" download="5_Parenting tips_manage stress"
                class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/2020-04-1/6_Parenting tips_talking about Covid-19.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/2020-04-1/6_Parenting tips_talking about Covid-19.png" download="6_Parenting tips_talking about Covid-19"><button
              class="buttons"> <a href="assets/resources/socialmedia/2020-04-1/6_Parenting tips_talking about Covid-19.png" download="6_Parenting tips_talking about Covid-19"
                class="button-text">Download</a></button>
                        </a>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/2020-04-13/EVUmXt7XYAIFBqC.jpg" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/2020-04-13/EVUmXt7XYAIFBqC.jpg" download="Parenting tips"><button
      class="buttons"> <a href="assets/resources/socialmedia/2020-04-13/EVUmXt7XYAIFBqC.jpg" download="Parenting tips"
        class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/2020-04-13/EVUQGjSWoAINKtJ.jpg" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/2020-04-13/EVUQGjSWoAINKtJ.jpg" download="Parenting tips"><button
    class="buttons"> <a href="assets/resources/socialmedia/2020-04-13/EVUQGjSWoAINKtJ.jpg" download="1_Parenting tips_one_on_ one time"
      class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/2020-04-13/EVV0b7FXsAEsxV8.jpg" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/2020-04-13/EVV0b7FXsAEsxV8.jpg" download="Parenting tips"><button
    class="buttons"> <a href="assets/resources/socialmedia/2020-04-13/EVV0b7FXsAEsxV8.jpg" download="Parenting tips"
      class="button-text">Download</a></button>
                        </a>
                    </div>

                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/2020-04-13/EVUWGTmXQAEUvsS.jpg" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/2020-04-13/EVUWGTmXQAEUvsS.jpg" download="Parenting tips"><button
    class="buttons"> <a href="assets/resources/socialmedia/2020-04-13/EVUWGTmXQAEUvsS.jpg" download="Parenting tips"
      class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/2020-04-13/EVVTeq-WkAEGyB4.jpg" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/2020-04-13/EVVTeq-WkAEGyB4.jpg" download="Parenting tips"><button
    class="buttons"> <a href="assets/resources/socialmedia/2020-04-13/EVVTeq-WkAEGyB4.jpg" download="Parenting tips"
      class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/2020-04-13/EVUa7xwWAAEBUp1.jpg" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/2020-04-13/EVUa7xwWAAEBUp1.jpg" download="Parenting tips"><button
    class="buttons"> <a href="assets/resources/socialmedia/2020-04-13/EVUa7xwWAAEBUp1.jpg" download="Parenting tips"
      class="button-text">Download</a></button>
                        </a>
                    </div>
                </div>

                <br>

                <div>
                    <h4 style="text-align: center;">Arabic</h4>
                </div>

                <div class="row">
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/arabic/Arabic Post 1 One one time.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/arabic/Arabic Post 1 One one time.png" download="Arabic Post 1 One one time"><button
class="buttons"> <a href="assets/resources/socialmedia/arabic/Arabic Post 1 One one time.png" download="Arabic Post 1 One one time"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/arabic/Arabic Post 2 keeping it postive.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/arabic/Arabic Post 2 keeping it postive.png" download="Arabic Post 2 keeping it postive"><button
class="buttons"> <a href="assets/resources/socialmedia/arabic/Arabic Post 2 keeping it postive.png" download="Arabic Post 2 keeping it postive"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/arabic/Arabic Post 3 structure.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/arabic/Arabic Post 3 structure.png" download="Arabic Post 3 structure"><button
class="buttons"> <a href="assets/resources/socialmedia/arabic/Arabic Post 3 structure.png" download="Arabic Post 3 structure"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/arabic/Arabic Post 4 bad behaviour.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/arabic/Arabic Post 4 bad behaviour.png" download="Arabic Post 4 bad behaviour"><button
class="buttons"> <a href="assets/resources/socialmedia/arabic/Arabic Post 4 bad behaviour.png" download="Arabic Post 4 bad behaviour"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/arabic/Arabic Post 5 stress.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/arabic/Arabic Post 5 stress.png" download="Arabic Post 5 stress"><button
class="buttons"> <a href="assets/resources/socialmedia/arabic/Arabic Post 5 stress.png" download="Arabic Post 5 stress"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/arabic/Arabic Post 6 talking.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/arabic/Arabic Post 6 talking.png" download="Arabic Post 6 talking"><button
class="buttons"> <a href="assets/resources/socialmedia/arabic/Arabic Post 6 talking.png" download="Arabic Post 6 talking"
class="button-text">Download</a></button>
                        </a>
                    </div>
                </div>
                <br>
                <div>
                    <h4 style="text-align: center;">French</h4>
                </div>
                <br>
                <div class="row">
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/french/french Post 1 One one time.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/french/french Post 1 One one time.png" download="french Post 1 One one time"><button
class="buttons"> <a href="assets/resources/socialmedia/french/french Post 1 One one time.png" download="french Post 1 One one time"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/french/french Post 2 keeping it postive.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/french/french Post 2 keeping it postive.png" download="french Post 2 keeping it postive"><button
class="buttons"> <a href="assets/resources/socialmedia/french/french Post 2 keeping it postive.png" download="french Post 2 keeping it postive"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/french/french Post 3 structure.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/french/french Post 3 structure.png" download="french Post 3 structure"><button
class="buttons"> <a href="assets/resources/socialmedia/french/french Post 3 structure.png" download="french Post 3 structure"
class="button-text">Download</a></button>
                        </a>
                    </div>

                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/french/french Post 4 bad behaviour.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/french/french Post 4 bad behaviour.png" download="french Post 4 bad behaviour"><button
class="buttons"> <a href="assets/resources/socialmedia/french/french Post 4 bad behaviour.png" download="french Post 4 bad behaviour"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/french/french Post 5 stress.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/french/french Post 5 stress.png" download="french Post 5 stress"><button
class="buttons"> <a href="assets/resources/socialmedia/french/french Post 5 stress.png" download="french Post 5 stress"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/french/french Post 6 talking.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/french/french Post 6 talking.png" download="french Post 6 talking"><button
class="buttons"> <a href="assets/resources/socialmedia/french/french Post 6 talking.png" download="french Post 6 talking"
class="button-text">Download</a></button>
                        </a>
                    </div>
                </div>

                <br>
                <div>
                    <h4 style="text-align: center;">Russian</h4>
                </div>
                <br>
                <div class="row">
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/russian/russian Post 1 One one time.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/russian/russian Post 1 One one time.png" download="russian Post 1 One one time"><button
class="buttons"> <a href="assets/resources/socialmedia/russian/russian Post 1 One one time.png" download="russian Post 1 One one time"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/russian/russian Post 2 keeping it postive.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/russian/russian Post 2 keeping it postive.png" download="russian Post 2 keeping it postive"><button
class="buttons"> <a href="assets/resources/socialmedia/russian/russian Post 2 keeping it postive.png" download="russian Post 2 keeping it postive"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/russian/russian Post 3 structure.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/russian/russian Post 3 structure.png" download="russian Post 3 structure"><button
class="buttons"> <a href="assets/resources/socialmedia/russian/russian Post 3 structure.png" download="russian Post 3 structure"
class="button-text">Download</a></button>
                        </a>
                    </div>

                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/russian/russian Post 4 bad behaviour.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/russian/russian Post 4 bad behaviour.png" download="russian Post 4 bad behaviour"><button
class="buttons"> <a href="assets/resources/socialmedia/russian/russian Post 4 bad behaviour.png" download="russian Post 4 bad behaviour"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/russian/russian Post 5 stress.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/russian/russian Post 5 stress.png" download="russian Post 5 stress"><button
class="buttons"> <a href="assets/resources/socialmedia/russian/russian Post 5 stress.png" download="russian Post 5 stress"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/russian/russian Post 6 talking.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/russian/russian Post 6 talking.png" download="russian Post 6 talking"><button
class="buttons"> <a href="assets/resources/socialmedia/russian/russian Post 6 talking.png" download="russian Post 6 talking"
class="button-text">Download</a></button>
                        </a>
                    </div>
                </div>
                <br>
                <div>
                    <h4 style="text-align: center;">Spanish</h4>
                </div>
                <br>
                <div class="row">
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/spanish/spanish Post 1 One one time.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/spanish/spanish Post 1 One one time.png" download="spanish Post 1 One one time"><button
class="buttons"> <a href="assets/resources/socialmedia/spanish/spanish Post 1 One one time.png" download="spanish Post 1 One one time"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/spanish/spanish Post 2 keeping it postive.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/spanish/spanish Post 2 keeping it postive.png" download="spanish Post 2 keeping it postive"><button
class="buttons"> <a href="assets/resources/socialmedia/spanish/spanish Post 2 keeping it postive.png" download="spanish Post 2 keeping it postive"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/spanish/spanish Post 3 structure.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/spanish/spanish Post 3 structure.png" download="spanish Post 3 structure"><button
class="buttons"> <a href="assets/resources/socialmedia/spanish/spanish Post 3 structure.png" download="spanish Post 3 structure"
class="button-text">Download</a></button>
                        </a>
                    </div>

                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/spanish/spanish Post 4 bad behaviour.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/spanish/spanish Post 4 bad behaviour.png" download="spanish Post 4 bad behaviour"><button
class="buttons"> <a href="assets/resources/socialmedia/spanish/spanish Post 4 bad behaviour.png" download="spanish Post 4 bad behaviour"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/spanish/spanish Post 5 stress.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/spanish/spanish Post 5 stress.png" download="spanish Post 5 stress"><button
class="buttons"> <a href="assets/resources/socialmedia/spanish/spanish Post 5 stress.png" download="spanish Post 5 stress"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/spanish/spanish Post 6 talking.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/spanish/spanish Post 6 talking.png" download="spanish Post 6 talking"><button
class="buttons"> <a href="assets/resources/socialmedia/spanish/spanish Post 6 talking.png" download="spanish Post 6 talking"
class="button-text">Download</a></button>
                        </a>
                    </div>
                </div>
                <br>
                <div>
                    <h4 style="text-align: center;">Chinese</h4>
                </div>
                <br>
                <div class="row">
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/chinese/chinese Post 1 One one time.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/chinese/chinese Post 1 One one time.png" download="chinese Post 1 One one time"><button
class="buttons"> <a href="assets/resources/socialmedia/chinese/chinese Post 1 One one time.png" download="chinese Post 1 One one time"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/chinese/chinese Post 2 keeping it postive.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/chinese/chinese Post 2 keeping it postive.png" download="chinese Post 2 keeping it postive"><button
class="buttons"> <a href="assets/resources/socialmedia/chinese/chinese Post 2 keeping it postive.png" download="chinese Post 2 keeping it postive"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/chinese/chinese Post 3 structure.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/chinese/chinese Post 3 structure.png" download="chinese Post 3 structure"><button
class="buttons"> <a href="assets/resources/socialmedia/chinese/chinese Post 3 structure.png" download="chinese Post 3 structure"
class="button-text">Download</a></button>
                        </a>
                    </div>

                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/chinese/chinese Post 4 bad behaviour.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/chinese/chinese Post 4 bad behaviour.png" download="chinese Post 4 bad behaviour"><button
class="buttons"> <a href="assets/resources/socialmedia/chinese/chinese Post 4 bad behaviour.png" download="chinese Post 4 bad behaviour"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/chinese/chinese Post 5 stress.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/chinese/chinese Post 5 stress.png" download="chinese Post 5 stress"><button
class="buttons"> <a href="assets/resources/socialmedia/chinese/chinese Post 5 stress.png" download="chinese Post 5 stress"
class="button-text">Download</a></button>
                        </a>
                    </div>
                    <div class="column">
                        <img class="zoom-image" src="assets/resources/socialmedia/chinese/chinese Post 6 talking.png" style="width:100%" alt="" (click)="openImage($event)">
                        <a href="assets/resources/socialmedia/chinese/chinese Post 6 talking.png" download="chinese Post 6 talking"><button
class="buttons"> <a href="assets/resources/socialmedia/chinese/chinese Post 6 talking.png" download="chinese Post 6 talking"
class="button-text">Download</a></button>
                        </a>
                    </div>
                </div>



                <!-- This is last part of the page-->
            </div>
        </div>

        <!-- The Modal Image container -->
        <div class="popup-modal" [ngStyle]="{ display: imgOpen ? 'block' : 'none' }" (click)="closeImage()">
            <div class="popup-modal-close" (click)="closeImage()">&times;</div>
            <img class="popup-modal-content" [src]="imgOpenedSrc">
            <div class="popup-modal-caption">{{ imgOpenedAltText }}</div>
        </div>
        <!-- /The Modal Image Container -->

    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>