<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">PODCASTS</h5>
            <div class="nav-card-item-content">
                <p>
                    <!-- Intro paragraph goes here-->
                </p>
            </div>
            <br>
            <!--  The card thing startd here -->
            <div class="nav-card-item-content">
                <h5>
                    A NEW AGE OF PARENTING: WHERE DATA MATTERS WITH DR LUCIE CLUVER
                </h5>
                <br>

                <div class="nav-card-item-content">
                    <img width="100%" src="assets/resources/news/podcast.jpg">
                </div>
                <p style="text-align:justify">If we really want to end all forms of violence against children, evidence,
                    research and
                    data are critical. The field of violence prevention is growing in unprecedented ways,
                    and it's important to use data-driven strategies, identify needs and gaps and apply the
                    most effective evidence-based practices to achieve successful outcomes for children.
                </p>
            </div>
            <br>
            <div class="nav-card-item-content">
                <img width="100%" src="assets/resources/news/podcast2.png">
            </div>
            <br>
            <div class="nav-card-item-content">
                <p style="text-align:justify">In this episode, End Violence spoke with Dr Lucie Cluver, Professor of
                    Child and Family
                    Social Work at the University of Oxford and the University of Cape Town, about
                    evidence-based social interventions and how data can improve the lives of children and
                    adolescents around the world. Lucie also talks about parenting as a key element for
                    nurturing care and connection in children's lives, especially during COVID-19, and
                    shares useful parenting tips. </p>
                <br>

                <span class="more-link"><a href="https://open.spotify.com/episode/5jA5OlqDkNnqGpbHncLcTl">Listen to the
                        podcast here. </a> </span>

            </div>
        </div>

    </div>

    <app-sidebar class="side-bar-container"></app-sidebar>
</div>