.nav-card-item-header {
  background: #75c5ca;
}

.nav-card-item-content h5 {
  color: #75c5ca;
}

.nav-card-item-content a {
  color: #75c5ca;
  font-weight: 500;
  font-size: medium;
}

.nav-card-item hr {
  border-color: #75c5ca;
  //margin: 0;
}

.audio-card-item .preview {
  width: 150px;
  height: 150px;
}

.comics-card-item .preview{
  width: 200px;
  height: 200px;
}

.red-more-buttons{
  min-height: 30px;  
  color: #0b4061;
  border-style: none;
  border-radius: 30px; 
  background: #75c5ca;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 16px;
}