<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="nav-cards main-container">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">WHO X UNICEF SOCIAL MEDIA CAMPAIGN</h5>
      <br>
      <div class="nav-card-item-content">
        <p>
            In collaboration with Parenting for Lifelong Health, the World Health Organization and Unicef launched a special Parenting Social Media Campaign in September 2020. 
        </p><br>
        <p>
            You can download the slides from this page and share them on your social media channels.  
        </p><br>
        <p>
            We recommend using the following hashtags:
        </p><br>
                <p>
          <span style="color: lightblue; font-weight: 500; font-size: 16px;"> #WorldHealthOrganization #Unicef #covid19Parenting #ParentingForLifelongHealth 
            #COVID19 #ParentingTips 
            #playfulparenting #positivevibes #smartparenting #patientparenting #funparenting
            #positiveparenting #positiveparentingtips</span>
        </p> <br>   
        
        <p > <strong>
          Thank you for sharing these key parenting tips widely and helping us reach even more vulnerable families. Together we can promote positive parenting, help families navigate challenging times, and prevent violence against children! </strong>
        </p><br>
                      </div>    
    </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>
</div>