.nav-cards {
  flex-direction: column;
  justify-content: space-between;
}

.red-more-buttons{
min-height: 40px;  
border-style: none;
border-radius: 30px; 
background: #75c5ca;
font-weight: 400;
font-size: 14px;
color: #ffffff;
}

.red-more-buttons-tips{
  min-height: 40px;  
  border-style: none;
  border-radius: 30px; 
  background: #fac1bc;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  }

  .red-more-buttons-impact{
    min-height: 40px;  
    border-style: none;
    border-radius: 30px; 
    background: #5d61ac;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    }

.nav-card-item img {
  width: 100%;
  //height: 80px;
 }

.nav-card-one .nav-card-item-header {
  background: #5dbcd2;
}

.nav-card-one .nav-card-item-content h5 {
  color: #5dbcd2;
}

.nav-card-one .nav-card-item-content a {
  color: #5dbcd2;
}

.nav-card-two .nav-card-item-header {
  background: #fac1bc;
}

.nav-card-two .nav-card-item-content h5 {
  color: #fac1bc;
}

.nav-card-two .nav-card-item-content a {
  color: #fac1bc;
}

.nav-card-three .nav-card-item-header {
  background: #5d61ac;
}

.nav-card-three .nav-card-item-content h5 {
  color: #5d61ac;
}

.nav-card-three .nav-card-item-content a {
  color: #5d61ac;
}
