<div class="sidebar-container">
  <div class="nav-cards">
    <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
      <img src="assets/images/sidebar_img.png" />
    </div>
    <div class="nav-card-item nav-card-one" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
      <h5 class="nav-card-item-header">  “Travel Together – Play Together”, a new fun and creative parenting campaign by our partner GOSHEN</h5>
      <div class="nav-card-item-content">
        <p>
          Our partner Goshen’s citywide poster campaign, in conjunction with Citypass, “Travel Together – Play Together” encourages parents to use train travel as quality playtime with their children. Check out the fun, colorful, and informative posters that suggest different games for parents to play with their children. 
        </p>
              <br>        <div>
          <img src="assets/resources/news/stips2.jpg">
        </div>
       <!-- <div style="border-style: groove; border-color:#abf2f7">
                <video width="100%" height="150px" src="assets/resources/news/THSNHackathon.mp4" controls muted></video>                                      
        </div>
        -->
        <br>
        <a routerLink="/news">
          <button class="red-more-buttons"> <a routerLink="/news"></a>READ MORE</button>
        </a> 
              </div>
    </div>
    <div class="nav-card-item nav-card-two" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
      <h5 class="nav-card-item-header">PARENTING TIPS</h5>
      <br>
      <div class="nav-card-item-content">
                <p>
          Our open-source and evidence-based parenting tip sheets are available in more than 100 languages.
        </p><br>

        <a routerLink="/tips">
          <button class="red-more-buttons-tips"> <a routerLink="/tips"></a>READ MORE</button>
        </a> 
              </div>
    </div>
    <br>
    <div class="nav-card-item nav-card-three" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
      <h5 class="nav-card-item-header">IMPACT</h5><br>
      <div class="nav-card-item-content">
        <p>
         The COVID-19 Parenting resources have now reached 136,546,996 people.
        </p><br>

        <a routerLink="/impact-stories">
          <button class="red-more-buttons-impact"> <a routerLink="/impact-stories"></a>READ MORE</button>
        </a> 
              </div>
    </div>
  </div>
</div>
