.nav-cards {
  flex-direction: column;
  justify-content: space-between;
}

.red-more-buttons {
  border-style: none;
  border-radius: 30px;
  background: #75c5ca;
  color: #ffffff;
  padding-left: 10px;
  width: fit-content;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.red-more-buttons-tips {
  border-style: none;
  border-radius: 30px;
  background: #fac1bc;
  color: #ffffff;
  padding-left: 10px;
  width: fit-content;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.red-more-buttons-impact {
  border-style: none;
  border-radius: 30px;
  background: #5d61ac;
  color: #ffffff;
  padding-left: 10px;
  width: fit-content;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-card-item img {
  width: 100%;
  //height: 80px;
}

.nav-card-one .nav-card-item-header {
  background: #5dbcd2;
}

.nav-card-one .nav-card-item-content h5 {
  color: #5dbcd2;
}

.nav-card-one .nav-card-item-content a {
  color: #5dbcd2;
}

.nav-card-two .nav-card-item-header {
  background: #fac1bc;
}

.nav-card-two .nav-card-item-content h5 {
  color: #fac1bc;
}

.nav-card-two .nav-card-item-content a {
  color: #fac1bc;
}

.nav-card-three .nav-card-item-header {
  background: #5d61ac;
}

.nav-card-three .nav-card-item-content h5 {
  color: #5d61ac;
}

.nav-card-three .nav-card-item-content a {
  color: #5d61ac;
}
