<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">IMPACT BRIEFS</h5>
            <div class="nav-card-item-content">
                <P style="font-weight: bold;">
                    Our Partners have been incredibly supportive of the COVID-19 Playful Parenting Emergency Response
                    Project!
                </P>
                <br>
                <p>
                    With the leadership of our partners globally, we utilized quantitative andqualitative tools
                    (including pre-post surveys, retrospective surveys, and in-depth qualitative interviews) to evaluate
                    the impact of the parenting resources on outcomes of positive parenting, parenting stress, and
                    physical and emotional abuse.

                </p>
                <br>
                <p>
                    We completed close to 600 surveys in India, Zambia, Malawi, North Macedonia, Nepal, and Cameroon and
                    currently have ongoing data collection in other countries, including Paraguay, Ghana, South Africa,
                    and Sri Lanka.

                </p>
                <br>
                <p>
                    We learned that the parenting tips are having a positive impact on families during this challenging
                    time.
                </p>
                <br>
                <p style="font-weight: bold;">
                    Check our Parenting Impact Briefs here.
                </p>
            </div>

        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>