<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">IMPACT BRIEFS</h5>
            <div class="nav-card-item-content" ata-aos="zoom-in" data-aos-duration="1000">
                <P style="font-weight: bold;">
                    Our Partners have been incredibly supportive of the COVID-19 Playful Parenting Emergency Response
                    Project!
                </P>
                <br>
                <p>
                    With the leadership of our partners globally, we utilized quantitative andqualitative tools
                    (including pre-post surveys, retrospective surveys, and in-depth qualitative interviews) to evaluate
                    the impact of the parenting resources on outcomes of positive parenting, parenting stress, and
                    physical and emotional abuse.

                </p>
                <br>
                <p>
                    We completed close to 600 surveys in India, Zambia, Malawi, North Macedonia, Nepal, and Cameroon and
                    currently have ongoing data collection in other countries, including Paraguay, Ghana, South Africa,
                    and Sri Lanka.

                </p>
                <br>
                <p>
                    We learned that the parenting tips are having a positive impact on families during this challenging
                    time.
                </p>
                <br>
                <p style="font-weight: bold;">
                    Check our Parenting Impact Briefs here - <a style="font-weight: 500;
                    font-size: medium;" href="assets/impacts/impact-briefs/impact_brief_macedonia.pdf">Macedonia</a> |
                    <a style="font-weight: 500;
                    font-size: medium;" href="assets/impacts/impact-briefs/impact_brief_mumbai.pdf">Mumbai</a> | <a
                        style="font-weight: 500;
                    font-size: medium;" href="assets/impacts/impact-briefs/impact_brief_malawi.pdf">Malawi</a> | <a
                        style="font-weight: 500;
                    font-size: medium;" href=" assets/impacts/impact-briefs/impact_brief_nepal.pdf">Nepal</a> | <a
                        style="font-weight: 500;
                    font-size: medium;" href="assets/impacts/impact-briefs/impact_brief_zambia.pdf">Zambia</a>
                </p>
            </div>
            <br>
            <!--  The card thing startd here -->
            <div class="nav-card-item-content" ata-aos="zoom-in" data-aos-duration="1000">
                <h5> <a style="font-size: 18px;" href="https://www.gabrielprojectmumbai.org/">Gabriel Project Mumbai
                        (GPM)</a> </h5><br>
                <div class="news-container">
                    <div class="news-resource">
                        <div class="news-resource">
                            <a href="assets/impacts/impact-briefs/impact_brief_mumbai.pdf">
                                <img src="assets/impacts/impact-briefs/thumbnail_mumbai.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="news-text">
                        <div>
                            <p>
                                <a style="font-weight: bold; font-size: 16px;"
                                    href="https://www.gabrielprojectmumbai.org/">GPM</a>
                                is an NGO promoting holistic development and empowerment for marginalized
                                communities in the villages and slums in India. GPM places an emphasis on vulnerable
                                children in slums and under-served rural villages of Maharashtra, India. GPM is a
                                grassroots response to poverty, malnutrition, ill-health, hunger and child labor in
                                India.
                            </p>
                        </div>
                        <br>
                        <span class="more-link"><a
                                href="https://www.gabrielprojectmumbai.org/">https://www.gabrielprojectmumbai.org </a>
                        </span>
                    </div>
                </div>
            </div>
            <hr />
            <!--  The card thing end  here -->

            <!--  The card thing startd here -->
            <div class="nav-card-item-content" ata-aos="zoom-in" data-aos-duration="1000">
                <h5> <a style="font-size: 18px;" href="https://rise-plh.eu">RISE North Macedonia</a> </h5><br>
                <div class="news-container">
                    <div class="news-resource">
                        <div class="news-resource">
                            <a href="assets/impacts/impact-briefs/impact_brief_macedonia.pdf">
                                <img src="assets/impacts/impact-briefs/thumbnail_macedonia.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="news-text">
                        <div>
                            <p>
                                The aim of the <a style="font-weight: bold; font-size: 16px;"
                                    href="https://rise-plh.eu/">RISE project</a> is to implement cost-effective
                                parenting interventions for
                                the prevention of child mental health problems in Low and middle income countries in
                                Eastern Europe.

                            </p>
                        </div>
                        <br>
                        <span class="more-link"><a href="https://rise-plh.eu/">https://rise-plh.eu</a> </span>
                    </div>
                </div>
            </div>
            <hr />
            <!--  The card thing end  here -->

            <!--  The card thing startd here -->
            <div class="nav-card-item-content" ata-aos="zoom-in" data-aos-duration="1000">
                <h5> <a style="font-size: 18px;" href="https://www.forgottenvoices.org/">Forgotten Voices International,
                        Malawi</a> </h5><br>
                <div class="news-container">
                    <div class="news-resource">
                        <div class="news-resource">
                            <a href="assets/impacts/impact-briefs/impact_brief_malawi.pdf">
                                <img src="assets/impacts/impact-briefs/thumbnail_malawi.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="news-text">
                        <div>
                            <p>
                                Listening to and partnering with local churches in Malawi to
                                empower orphaned and
                                vulnerable children, caregivers and families to meet their needs is the core work of
                                <a style="font-weight: bold; font-size: 16px;"
                                    href="https://www.forgottenvoices.org/">Forgotten Voices International.</a> We
                                believe that the local church, under trustworthy
                                leadership and with committed community members, is the best-positioned entity to
                                meaningfully and effectively serve the spiritual, emotional and physical needs of
                                orphaned and vulnerable children in their communities.

                            </p>
                        </div>
                        <br>
                        <span class="more-link"><a
                                href="https://www.forgottenvoices.org/">https://www.forgottenvoices.org</a> </span>
                    </div>
                </div>
            </div>
            <hr />
            <!--  The card thing end  here -->

            <!--  The card thing startd here -->
            <div class="nav-card-item-content" ata-aos="zoom-in" data-aos-duration="1000">
                <h5> <a style="font-size: 18px;" href="https://www.forgottenvoices.org/">Forgotten Voices International,
                        Zambia</a> </h5><br>
                <div class="news-container">
                    <div class="news-resource">
                        <div class="news-resource">
                            <a href="assets/impacts/impact-briefs/impact_brief_zambia.pdf">
                                <img src="assets/impacts/impact-briefs/thumbnail_zambia.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="news-text">
                        <div>
                            <p>
                                Our teams work in 43 districts in nine provinces of Zambia, complementing the
                                Government’s efforts to reach vulnerable children and communities in the country.
                                Through Area Programmes, World Vision’s interventions have addressed issues of food
                                insecurity, primarily through agriculture, water and sanitation, education, health,
                                infrastructure development, livelihood and child protection in the process of
                                transforming the lives of vulnerable children, women and families.Improving the
                                well-being and the futures of children continues to be the focus of everything we do.


                            </p>
                        </div>
                        <br>
                        <span class="more-link"><a
                                href="https://www.forgottenvoices.org/">https://www.forgottenvoices.org</a> </span>
                    </div>
                </div>
            </div>
            <hr />
            <!--  The card thing end  here -->

            <!--  The card thing startd here -->
            <div class="nav-card-item-content" ata-aos="zoom-in" data-aos-duration="1000">
                <h5> <a style="font-size: 18px;" href="https://www.karkhana.asia/about/">Karkhana, Nepal</a> </h5><br>
                <div class="news-container">
                    <div class="news-resource">
                        <div class="news-resource">
                            <a href="assets/impacts/impact-briefs/impact_brief_nepal.pdf">
                                <img src="assets/impacts/impact-briefs/thumbnail_nepal.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="news-text">
                        <div>
                            <p>
                                <a style="font-weight: bold; font-size: 16px;"
                                    href="https://www.karkhana.asia/about/">Karkhana</a>
                                , based in Nepal, was created to nurture a spirit of innovating locally so as to
                                make a global impact. Their aim is to empower people with the skills & attitudes that
                                will help them build their future and the future of their community.
                            </p>
                        </div>
                        <br>
                        <span class="more-link"><a
                                href="https://www.karkhana.asia/about/">https://www.karkhana.asia/about</a> </span>
                    </div>
                </div>
            </div>
            <!--  The card thing end  here -->
        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>