<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">BRANDING GUIDELINES</h5>
      <div class="nav-card-item-content">
        <p>Our Brand Guidelines provide information on the standards for using our brand name, logos, typefaces, and other design elements in various contexts, including online communications.</p>
            <br>
         
            <p> The key goal of this document is to ensure that all parties use the brand elements consistently and have access to all the information needed to do so. </p>          
                <br>      
      </div>
      <br>
      <!--  The card thing startd here -->
      <div class="nav-card-item-content">       
                          <div style="border-style: groove; border-color:#abf2f7" >
              <img  src="assets/images/bradingthumbnail.PNG">
            </div>
                         <div>
              <p style= "align-items: center;">
                <br>
                <br>               
                <a href="assets/resources/branding/branding-guideline.pdf">
                    <button class="red-more-buttons"> <a href="assets/resources/branding/branding-guideline.pdf"></a> <h6>Download our Brand Guidelines here.</h6></button>
                  </a> 
              </p>
            </div>           
                      
       
      </div>
          </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>
</div>