<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>

<!-- about -->
<div class="content about-container" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">


    <div class="about-text" data-aos="zoom-in">
        <div class="impact">
            <p style="font-weight: bold; font-size: 25px;">
                The COVID-19 Parenting resources have now reached
                <br><span class="numbers-reach">0</span>
                <br>people!
            </p>
        </div>
        <h4>ABOUT US</h4>
        <h3>COVID-19: 24/7 PARENTING</h3>
        <p>
            <b>Evidence-based parenting tips available in more than 100 languages.</b>
            <br />
            <p>
                Parenting for Lifelong Health (PLH) provides open-source and evidence-based parenting resources to support parents and caregivers during the COVID-19 pandemic and beyond. These resources focus on building positive parent-child relationships and reducing
                violence against children by learning through play, reinforcing positive and managing difficult behaviours, creating structure and routines, talking about COVID-19, keeping children safe online, and reducing stress and conflict.
            </p>
            <p>
                We are working with the World Health Organization (WHO), UNICEF, the Global Partnership to End Violence Against Children, USAID, Centers for Disease Control and Prevention (CDC), the Oxford University, the LEGO Foundation, the Internet of Good Things
                & many more, to keep children safe during the COVID-19 pandemic and beyond.
            </p>
    </div>
    <div class="about-image " data-aos="zoom-in">
        <img src="assets/images/home_about_us.png" />
    </div>
</div>
<!-- /about --->

<div class="content nav-cards nav-home">
    <div class="nav-card-item nav-card-one" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <h5 class="nav-card-item-header">NEWS</h5>
        <div class="nav-card-item-content">
            <div class="nav-cards-img"> <img src="assets/images/home_news.png" /> </div>
        </div>

        <div class="nav-card-item-content">
            <h5>Celebrating Parenting Month! What is your favorite tip? </h5>
            <br>
            <div style="border-style: groove; border-color:#abf2f7">
                <iframe width="100%" height="150px" src="https://www.youtube.com/embed/JXIpS6naFKE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <br>
            <p>
                We are delighted to celebrate the Global Day of Parents and the Parenting Month with you! We would love to know what your favorite parenting tip is! Is it about Honesty? Structure? Fun? Take 15 sec to complete our <a href="https://formfaca.de/sm/pblT-ART8">short survey</a>                & send us a selfie by 11 June.
            </p>
            <br>
            <a href="/news">
                <button class="red-more-buttons"> <a href="/new"></a>See
          More</button>
            </a>
        </div>
        <br>

        <div class="nav-card-item-content">
            <h5>The Science of Scale for Violence Prevention: A New Agenda for Family Strengthening in Low- and Middle-Income Countries
            </h5><br>
            <div>
                <img src="assets/resources/news/sciencethumbnail.jpeg">
            </div>
            <br>
            <p>
                Ending all violence against children by 2030 is a core part of Sustainable Development Goals 5 and 16. Several promising violence reduction strategies have been identified in research studies.

            </p>
            <br>
            <a href="/press#frontiers">
                <button class="red-more-buttons"> <a href="/press#frontiers"></a>Read
          More</button>
            </a>
        </div>
        <br>

        <div class="nav-card-item-content">
            <h5>SOPISDEW reached more than 50,000 people in Cameroon through radio broadcast!</h5><br>
            <div>
                <img src="assets/resources/news/Sopisdew.jpeg">
            </div>
            <br>
            <p>
                Our partner SOPISDEW Cameroon broadcasted the COVID-19 Parenting Tips in 5 local languages, reaching an estimated population of over 50,000 people.
            </p>
            <br>
            <a href="/news">
                <button class="red-more-buttons"> <a href="/news"></a>Read
          More</button>
            </a>
        </div>
        <br>


        <div class="nav-card-item-content">
            <h5>Nurturing care for young children during and beyond COVID 19</h5><br>
            <div>
                <img src="assets/resources/news/ARNEC-thumbnail.jpg">
            </div>
            <br>
            <p>
                The Asian-Pacific Regional Network for Early Childhood (ARNEC) hosted the webinar series entitled, 'Nurturing care for young children: seeking solutions for addressing disparities heightened by the impact of COVID-19'.
            </p>
            <br>
            <a href="/webinars">
                <button class="red-more-buttons"> <a href="/webinars"></a>Read
          More</button>
            </a>
        </div>
        <br>

        <div class="nav-card-item-content">
            <h5>Church Leaders Guide is now available in Russian!</h5><br>
            <div>
                <img src="assets/resources/faithbased/russian _leaders_thumbnail.PNG">
            </div>
            <br>
            <p>
                Our Church Leaders Guide is now available in the Russian language. We thank our partner,<a href="https://worldwithoutorphans.org/"> World Without Orphans</a> for their support in providing this new resource.
            </p>
            <br>
            <a href="/news">
                <button class="red-more-buttons"> <a href="/news"></a>Read
          More</button>
            </a>
        </div>
        <br>

        <div class="nav-card-item-content">
            <h5>“Travel Together – Play Together”, a new fun and creative parenting campaign by our partner GOSHEN</h5><br>
            <div>
                <img src="assets/resources/news/stips2.jpg">
            </div>
            <br>
            <p>
                Our partner Goshen’s citywide poster campaign, in conjunction with Citypass, “Travel Together – Play Together” encourages parents to use train travel as quality playtime with their children. Check out the fun, colorful, and informative posters that suggest
                different games for parents to play with their children.
            </p>
            <br>
            <a href="/news">
                <button class="red-more-buttons"> <a href="/news"></a>Read
          More</button>
            </a>
        </div>
        <br>
        <div class="nav-card-item-content">
            <h5>Generali - The Human Safety Net Global Parenting Digital Hackathon</h5>
            <br>
            <div style="border-style: groove; border-color:#abf2f7">
                <video width="100%" height="150px" src="assets/resources/news/THSNHackathon.mp4" controls muted></video>
            </div>
            <br>
            <p>
                The Generali Group and our partner The Human Safety Net are organizing a 2-day global hackathon, mobilizing its Generali volunteering community in 22 countries to adapt the COVID-19 Parenting content in more than 20 languages. Together we hope that millions
                more vulnerable families will be able to benefit from this valuable support.
            </p>
            <br>
            <a href="/news">
                <button class="red-more-buttons"> <a href="/news"></a>Read
          More</button>
            </a>
        </div>
        <br>
        <!--
    <div class="nav-card-item-content">
      <h5>Podcast "A new age of parenting: where data matters"</h5>
      <br>
      <p>Is it actually possible to end violence against children?
        In its new podcast series, the End Violence Partnership explores the answer to that question by talking to those
        on the frontlines – the experts, researchers and leaders that have dedicated their lives to keeping children
        safe.
      </p>
      <br>
      <a routerLink="/news">
        <button class="red-more-buttons"> <a routerLink="/news"></a>Read
          more</button>
      </a>
    </div>
    -->
        <br>
    </div>
    <br>
    <div class="nav-card-item nav-card-two" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <h5 class="nav-card-item-header">RESOURCES</h5>
        <div class="nav-card-item-content">
            <div class="nav-cards-img"><img src="assets/images/home_resources.png" /></div>
        </div>
        <div class="nav-card-item-content">
            <h5>Public Service Announcements</h5>
            <br>
            <div><img src="assets/images/PSA-thumbnail.PNG" /></div>
            <BR>
            <p>
                Our tips for Public Service Announcements (PSAs) and practical guides are helpful tools to broadcast positive parenting to families and communities.
            </p>
            <br>
            <a href="/psa">
                <button class="red-more-buttons"> <a href="/psa"></a>Read
          More</button>
            </a>
        </div>
        <br>
        <div class="nav-card-item-content">
            <h5>Faith-Based Resources</h5>
            <br>
            <div>
                <img src="assets/resources/faithbased/leaders_thumbnail.png" />
            </div>
            <br>
            <p>
                Our Faith-Based Resources promotes positive parenting to families and communities.
            </p>
            <br>
            <a href="/faithleaders">
                <button class="red-more-buttons"> <a href="/faithleaders"></a>Read
          More</button></a>
        </div>
        <br>
        <div class="nav-card-item-content">
            <h5>Digital Parenting</h5>
            <br>
            <p>
                Our Digital Parenting resources are tools designed to reach parents through digital formats such as online and/or mobile applications, texting and chat services.
            </p>
            <br>
            <a href="/digitalparenting">
                <button class="red-more-buttons"> <a href="/digitalparenting"></a>Read
          More</button>
            </a>
        </div>
        <br>
        <div class="nav-card-item-content">
            <h5>Audiovisual Resources</h5>
            <br>
            <div>
                <img height="350px" width="350px" src="assets/resources/comics/3_image.png">
            </div>
            <p>
                See how our open-source and evidence-based parenting resources have been designed for specific audio and visual presentations.
            </p>
            <br>
            <a href="/audiovisuals">
                <button class="red-more-buttons"> <a href="/audiovisuals"></a>Read
          More</button>
            </a>
        </div>
        <br>
        <div class="nav-card-item-content">
            <h5>Social Media Kit</h5><br>
            <div>
                <img width="350px" height="196px" src="assets/resources/socialmedia/talking_covid_19.jpg">
            </div>
            <br>
            <p>
                Download our Social Media Squares, with suggested captions and # to use, to share our parenting tips on your Social Media profiles.
            </p><br>
            <a href="/socialmedia">
                <button class="red-more-buttons"> <a href="/socialmedia"></a>Read
          More</button>
            </a>
        </div>

        <br>
        <div class="nav-card-item-content">
            <h5>Tips for Caseworkers</h5><br>
            <div><img src="assets/images/tip_sheet_thumbnails/caseworkers-thumbnail.png"> </div> <br>
            <p>
                We have designed special parenting tip sheets to be used by social workers for behavioral parent training, to help parents build positive parent-child relationships through play, reinforce positive and managing difficult behaviours, create structure and
                routines, talk about COVID-19, keep children safe online, and reduce stress and conflict.
            </p><br>
            <a href="/caseworkers">
                <button class="red-more-buttons"> <a href="/caseworkers"></a>Read
          More</button>
            </a>
        </div>
    </div>
    <br>
    <div class="nav-card-item nav-card-three" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <h5 class="nav-card-item-header">PARENTING TIP SHEETS</h5>
        <div class="nav-card-item-content">
            <div class="nav-cards-img"><img src="assets/images/home_tips.png" /></div>
        </div>
        <div class="nav-card-item-content">
            <h5>Playful & Positive</h5>
            <br>
            <div>
                <img src="assets/resources/tipsheet_thumbnail1.png" />
            </div>
            <br>
            <p>
                Our Parenting Tips have been developed by Parenting for Lifelong Health (PLH), WHO and Unicef and are available in 100+ languages.They include evidence-based advice on parenting and reducing stress, as well as lots of playful activities for parents and
                caregivers to do with children of all ages.
            </p>
        </div>
        <br>
        <div class="nav-card-item-content">
            <h6>Check our Parenting Tip Sheets for more information</h6>
            <div class="nav-cards">
                <div class="nav-card-item">
                    <div class="nav-card-item-content tipsheets-item-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
                        <div>
                        </div>
                        <a style="font-size: 18px;" href="assets/resources/psas/Top-6-Tips-English.pdf" target="_blank">Top 6
              Parenting Tips</a>
                        <hr />
                        <div *ngFor="let tipSheet of arrVisibleTipSheets">
                            <a href="{{ tipSheet.pdfSrc}}" target="_blank">
                {{ tipSheet.title }}
              </a>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>

            <a href="/tips">
                <button class="red-more-buttons"> <a href="/tips"></a>See the parenting tip sheets in 100+ languages </button>
            </a>

        </div>
        <br>
        <div style="margin-left: 15px;">
            <div><img src="assets/images/tip_sheet_thumbnails/one-on-one-time.png"></div>
            <br>
            <div><img src="assets/images/tip_sheet_thumbnails/remote-learning.png"></div>
            <br>
            <div><img src="assets/images/tip_sheet_thumbnails/managing-stress.png"></div>
            <br>
            <div><img src="assets/images/tip_sheet_thumbnails/children-with-disabilities.png"></div>
        </div>
    </div>
</div>